@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Jomhuria&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 65px;
    background: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 100px;
}
a {
    text-decoration: none;
    display: inline-block;
    
}
nav {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#check {
    display: none;
}
nav label {
    display: none;
    padding: 10px 5px;
    cursor: pointer;
}
label div {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 3px;
    background: #000;
}
label div::before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    width: 100%;
    height: 100%;
    background: #000;
}
label div::after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    height: 100%;
    background: #000;
}
@media (max-width: 800px) {
    .logo a {
        margin-left: 50px;
        transition: 0.5s;
    }
    nav {
        margin-right: 20px;
        transition: 0.5s;
    }
}
@media (max-width: 668px) {
    nav label {
        display: block;
    }
    ul {
        position: fixed;
        top: 65px;
        left: 100%;
        width: 100%;
        height: 100vh;
        background: #333;
   }
    .active {
        color: #3a6cf4 !important;
    }
    .active:hover {
        opacity: 0.8;
    }
    ul li a:hover {
        color: #3a6cf4;
    }
    ul li a {
        display: inline-block;
        color: white;
    }
    ul li {
        text-align: center;
        padding: 20px 0;
        display: block;
        width: 100%;
    }
}
#check:checked + label div {
    background-color: transparent;
}
#check:checked + label div::before {
    top: 0;
    transform: rotate(45deg);
    transition: 0.5s;
}
#check:checked + label div::after {
    top: 0;
    transform: rotate(-45deg);
    transition: 0.5s;
}
#check:checked ~ ul {
    left: 0;
    transition: 0.5s;
}
ul li {
    list-style-type: none;
    display: inline-block;
}
ul a {
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    text-transform: capitalize;
}
ul a:hover, a.active{
    color: #601cfc;
}
header a {
     color: #3a6cf4;
     
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/snowman.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 65px;
}
.main {
    text-align: center;
/*    width: 100%;*/
}
.main *{
    margin-bottom: 15px;
    
}
.main div , .main h2 {
    text-transform: capitalize;
}
.main div {
    color: #333;
    font-size: 20px;
    font-weight: 500;
}
.main h2 {
    color: #4e9eff;
    color: #601cfc;
    font-weight: 600;
    font-size: 30px;
}
.main p {
    color: #333;
    font-weight: 600;
    font-size: 24px;
}
.main > a {
    color: #ffe;
    padding: 10px 20px;
    background: #3a6cf4;
    border-radius: 7px;
}
.main > a:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
i {
    color: blue;
}
.icons a {
    margin: 15px;
    margin-top: 30px;
    font-size: 2rem;
}
.container{
    display: flex;
    justify-content: center;            
}
.container div{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 0, 186, 0.9);
    border-radius: 50%;
    display: inline-block;
    margin: 20px 10px;
    animation-name: motion;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-direction:alternate;    
}
.two{
    animation-delay: 0.3s;
}
.three{
    animation-delay: 0.6s;
}
@keyframes motion{
    to{
        transform: translateY(-30px);
        opacity: 0.5;
    }
}
section h2 {
    color:  #4e9eff;
     color: #601cfc; 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}
.services div {
   width: 300px;
   margin: 15px;
   height: 300px;
   background: #fff;
   box-shadow: 3px 3px 8px #ddd, -3px 0px 8px #ddd;
   text-align: center;
   border-top: 2px solid #fa397c;
}
.services div:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.services div h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #601cfc; 
    color:  #4e9eff;
}
.proje {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.proje a {
    position: relative;
    color: #333;
    width: 130px;
    text-align: center;
    height: 130px;
    border-radius: 50%;
    background: #f9f9f9;
    border: 1px solid black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 15px;
    counter-increment: count-number;
    box-shadow: 5px 0 0px #3698fa, -5px 0px 0px #fa397c;
}
.proje a::before {
    content: counter(count-number);
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    background-image: linear-gradient(to right,  #fa397c 50%, #3698fa 50%);
    color: #fff;
    position: absolute;
    top: -10px;
    left: 55px;
}
.project {
    background: #333;
    min-height: 600px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.project h2 {
    color:  #4e9eff;
    margin-bottom: 60px;
}
section {
    margin-bottom: 50px;
}
.cont {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cont > div{
    width: 300px;
    height: 300px;
    padding: 20px;
    background: #fff;
    text-align: center;
    box-shadow: 3px 3px 8px #ddd, -3px -3px 8px #ddd;
    margin: 15px;
    
}
.cont > div:hover {
    transform: scale(1.1);
    transform: 0.5s;
}
.cont h3 {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #46e6e6;
}
.cont i {
    display: inline-block;
    font-size: 4em;
    margin-bottom: 30px;
}
.phone i {
    transform: rotate(-270deg);
}
footer {
    background: #111;
    padding: 30px;
}
footer p {
    text-align: center;
    color: #fee;
    margin-top: 10px;
}
footer i {
    font-size: 1.5rem;
    margin-top: 30px;
    color: #fff !important;
    margin-right: 20px;
}
footer div {
    display: flex;
    justify-content: center;
}
footer span {
    font-weight: bolder;
    color: #46e6e6;
    text-transform: uppercase;
}
section {
    padding-top: 65px;
}
.project {
    padding-top: 65px;
}